.championList {
    width: 70%;
    margin-left: 16%;
    margin-top: 5%;
  box-sizing: border-box;

}

.champion {
    padding: 2px;
}

#mytitle {
  font-size: 40px;
  font-weight: 0;
  align-content: center;
}